<div class="bg-light min-vh-100 d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4" >
        <div class="card p-4">
          <div class="card-body">
            <form>
              <h1>Login</h1>
              <p class="text-medium-emphasis">Sign in to your account</p>
              <div class="input-group mb-3">
                <span class="input-group-text">
                  <svg class="icon" fill="currentColor" width="16" height="16" viewBox="0 0 16 16">
                    <use xlink:href="bootstrap-icons.svg#person-fill" />
                  </svg>
                </span>
                <input autocomplete="username" class="form-control" placeholder="Username" />
              </div>
              <div class="input-group mb-4">
                <span class="input-group-text">
                  <svg class="icon" fill="currentColor" width="16" height="16" viewBox="0 0 16 16">
                    <use xlink:href="bootstrap-icons.svg#lock-fill" />
                  </svg>
                </span>
                <input autocomplete="current-password" class="form-control" placeholder="Password" type="password" />
              </div>
              <div class="row">
                <div class="col-md-6">
                  <button class="btn btn-outline-success btn-block">Login</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

